<% help = t "help.helptitle" %>
<% provide(:title, help) %>
<h1> <%= t "help.helpheader" %> </h1>
<p>
  <%= t "help.helppage1" %>
  <%= link_to "#{t "help.helplink1"}", "https://www.railstutorial.org/help" %>
  <%= t "help.helppage2" %>
  <%= link_to "#{t "help.helplink2"}", "https://www.railstutorial.org/book" %>
  <%= t "help.helppage3" %> </a>.
</p>
