<footer class="footer">
  <small>
    <%= t "footer.footerc5page1" %> <%= link_to "#{t "footer.footerc5link1"}", "https://www.railstutorial.org/" %>
    <%= t "footer.footerc5page2" %> <%= link_to "#{t "footer.footerc5link2"}", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li> <%= link_to "#{t "footer.footerc5link3"}", about_path %> </li>
      <li> <%= link_to "#{t "footer.footerc5link4"}", contact_path %> </li>
      <li> <%= link_to "#{t "footer.footerc5link5"}", "http://news.railstutorial.org" %> </li>
    </ul>
  </nav>
</footer>
